/* Varibles */

:root{
  --basic-black: #000000;
  --basic-dark: #32425C;
  --basic-extra-dark: #293449;
  --basic-white: #FFFFFF;
  --basic-extra-light: #F9F5F0;
  --basic-red: #EE3643;
  --basic-background: #F1F5F7;
  /*Header*/
  --basic-dark-red: #BA2732;
  --basic-green: #63A63E;
  --basic-special-green:#5FBB2D;
  --basic-transparent-white: rgba(255,255,255,0.5);
  --basic-dull-gray: #C5C5C5;
  --basic-dull-dark: #161D29;
  --basic-icon-dark: #3D546F;
  --basic-nav-dark: #1D2739;
  --basic-services-button-dark: #405069;
  --basic-phone-gray: #B7BFC8;
  --basic-logo-red: #B52933;
  --basic-logo-dark-red: #8D1E26;
  /*Main*/
  --basic-light-yellow: #FFBF47;
  --basic-blue: #3BBCE3;
  --basic-purple: #DC91D8;
  --basic-light-green: #8ED78F;
  --basic-yellow: #FFC047;
  --basic-more-transparent-white: rgba(255,255,255,0.3);
  --basic-transparent-gray: rgba(197,197,197,0.3);
  --basic-transparent-dark-gray: rgba(169,169,169,0.3);
  --basic-gray: #A9A9A9;
  --basic-special-gray:#EAEAEA;
  --basic-special-red: #CA2C37;
  --basic-special-light-gray: #E5E5E5;
  --basic-filter-gray: #F7F3EC;
  --basic-transparent-black: rgba(0,0,0,0.3);
  --basic-transparented-black: rgba(0,0,0,0.25);
  --basic-shadow: rgba(0, 0, 0, 0.15);
  --basic-img-shadow: rgba(0, 0, 0, 0.25);
  --basic-botton-green: #367315;
  --basic-special-button-green: #518534;
  --basic-button-transparent-dark: rgba(50,66,92,0.5);
  --basic-icon-gray: #C1C6CE;
  --basic-option-gray: #B5B5B5;
  --basic-transparent-option-gray: rgba(181,181,181,0.3);
  --basic-special-filter: #444444;
  --basic-modal-gray: #F4F4F4;
  --basic-modal-red: #FF5257;
  /*Footer*/
  --special-yellow: #FFD180;
  --special-transparent-yellow: rgba(255,209,128,0.5);
  --special-dark:#212A3A;
}

/* Global */

body{
  min-width: 1200px;
  margin: 0;
  padding: 0;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
  color: var(--basic-black);
  background-color: var(--basic-white);
}

.page a{
  text-decoration: none;
}

.page ul{
  list-style-type: none;
  padding-left: 0;
}

img{
  max-width: 100%;
  height: auto;
}

.display-none{
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
}

.page p,
.page ul,
.page h3,
.page h2{
  margin-block-start: 0;
  margin-block-end: 0;
}

/*Grids*/

.page{
  height: 100%;
}

.page-body{
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

/* Header */

.main-header{
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  background-color: var(--basic-background);
  display: grid;
  grid-template-rows: repeat(3, min-content);
}

.header-container{
  background-color: var(--basic-extra-dark);
  margin-bottom: 46px;
}

.header-container-2,
.header-container-3{
  width: 940px;
  margin: 0 auto;
}

.header-container-2{
  display: grid;
  margin-bottom: 40px;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.header-info{
  margin-right: 73px;
  margin-left: 30px;
}

.main-function{
  width: 940px;
  margin: 0 auto;
  display: flex;
}

.main-logo{
  flex-shrink: 0;
  flex-grow: 0;
  /*border-bottom: 5px var(--basic-logo-red) solid;*/
  width: 220px;
  height: 42px;
  background-color: var(--basic-red);
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-function .main-logo:before{
  content: "";
  width: 220px;
  height: 5px;
  background-color: var(--basic-logo-red);
  position: absolute;
  top: 42px;
}

.main-logo img{
  padding: 12px;
}

.main-logo:active{
  background-color: var(--basic-dark-red);
  border-color: var(--basic-logo-dark-red);
}

.main-function .main-logo:active:before{
  background-color: var(--basic-logo-dark-red);
}

.search-label{
  display: flex;
 text-align: center;
}

.search-icon{
  fill: var(--basic-white);
  opacity: 0.3;
  vertical-align: middle;
  padding: 12px 8px 13px 17px;
  order: -1;
}

.search input{
  background-color: var(--basic-extra-dark);
  border: 0;
  outline: none;
  width: 228px;
  padding: 0;
}

.search input::-ms-input-placeholder{
  color: var(--basic-white);
}

.search input::placeholder{
  color: var(--basic-white);
}

.search input:focus{
  color: var(--basic-black);
  background-color:  var(--basic-white);
}

.search:hover .search-icon{
  opacity: 1;
}

.search input:focus~.search-icon{
  fill: var(--basic-red);
  opacity: 1;
  background-color:  var(--basic-white);
}

.main-function a{
  color: var(--basic-white);
  text-align: center;
}

.function-button{
  flex-grow: 1;
  display: flex;
  text-align: center;
  flex-wrap: wrap;
}

.function-button .bookmarks{
  flex-grow: 1;
  flex-shrink: 0;
  padding: 10px 12px 8px 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.function-button .basket{
  flex-grow: 1;
  flex-shrink: 0;
  padding: 10px 11px 8px 9px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.function-button .checkout{
  padding: 10px 17px 8px 19px;
  flex-shrink: 0;
}

.function-button svg{
  padding-right: 8px;
  padding-bottom: 2px;
}

.function-button a:active{
  color: var(--basic-transparent-white);
  background-color: var(--basic-dull-dark);
}

.function-button svg,
.icon-buy{
  fill: var(--basic-white);
  opacity: 0.3;
}

.bookmarks:hover svg,
.basket:hover svg,
.bookmarks:focus svg,
.basket:focus svg{
  opacity: 1;
}

.bookmarks:active svg,
.basket:active svg{
  opacity: 0.3;
}

.full-basket{
  background-color: var(--basic-red);
}

.function-button .full-basket:active{
  background-color: var(--basic-dark-red);
}

.checkout{
  background-color: var(--basic-green);
}

.checkout:hover,
.checkout:focus{
  background-color: var(--basic-special-green);
}

.function-button .checkout:active{
  background-color: var(--basic-green);
}

.header-info{
  color: var(--basic-red);
  font-style: italic;
  font-size: 16px;
  line-height: 23px;
}

.header-contacts{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-right: 30px;
}

.header-tel{
  color: var(--basic-red);
  font-weight: bold;
  font-size: 21px;
  line-height: 30px;
  border: var(--basic-white) 3px solid;
  padding: 5px 12px 4px 5px;
  text-align: center;
  margin-bottom: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-tel:before{
  content: url("../img/icon-phone.svg");
  width: 19px;
  height: 19px;
  display: block;
  padding-right: 16px;
  padding-bottom: 3px;
}

.header-contacts p{
  flex-grow: 1;
  text-align: center;
}

.icon-phone{
  fill: var(--basic-phone-gray);
}

.header-address{
  color: var(--basic-dark);
  font-size: 14px;
  line-height: 24px;
}

.user-header{
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  flex-wrap: wrap;
  margin-left: 9px;
}

.user-header a{
  color: var(--basic-black);
  font-size: 21px;
  line-height: 21px;
  margin-left: 10px;
  margin-bottom: 10px;
  padding: 12px 15px 12px 10px;
  background-color: var(--basic-white);
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 45px;
  box-sizing: border-box;
}

.user-header .login-link{
  padding-right: 18px;
  padding-left: 8px;
}

.login-link:hover,
.registration-link:hover,
.login-link:focus,
.registration-link:focus{
  color: var(--basic-red);
}

.login-link:active,
.registration-link:active{
  color: var(--basic-dull-gray);
}

.icon-login{
  fill: var(--basic-dull-gray);
  padding-right: 6px;
}

.login-link:hover svg,
.login-link:focus svg{
  fill: var(--basic-icon-dark);
}

.login-link:active svg{
  fill: var(--basic-dull-gray);
}

/*Header navigation*/

.main-nav{
  background-color: var(--basic-dark);
  border-bottom: var(--basic-extra-dark) 4px solid;
  text-align: center;
}

.site-nav{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.site-nav a{
  display: flex;
  justify-content: center;
  padding: 16px 28px ;
}

.header-container-3{
  margin-bottom: 60px;
}

.main-nav ul{
  vertical-align: middle;
}

.main-nav a{
  color: var(--basic-white);
}

.main-nav li:hover,
.main-nav li:focus{
  background-color: var(--basic-extra-dark);
}

.main-nav a:active{
  color: var(--basic-transparent-white);
  background-color: var(--basic-nav-dark);
}

/*Main*/
/*Товары*/

.button{
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: var(--basic-white);
  text-transform: uppercase;
  background-color: var(--basic-red);
}

.button:hover{
  background-color: var(--basic-special-red);
}

.button:active{
  background-color: var(--basic-dark-red);
}

.offers{
  margin: 58px 0;
}

.offers-list{
  display: grid;
  width: 940px;
  margin: 0 auto;
  grid-template-columns: repeat(3, 300px);
  grid-template-rows: repeat(3, min-content);
  gap: 20px;
  grid-template-areas:
    "of1 of2 of3"
    "s s of4"
    "s s of5";
}

.offers-list li:nth-child(1){
  background-color: var(--basic-light-yellow);
  grid-area: of1;
  background-image: url("../img/tin-paint.svg");
  background-position: 213px 50%;
  background-repeat: no-repeat;
}

.offers-list li:nth-child(2){
  background-color: var(--basic-blue);
  grid-area: of2;
  background-image: url("../img/drill.svg");
  background-position: 194px 50%;
  background-repeat: no-repeat;
}

.offers-list li:nth-child(3){
  background-color: var(--basic-purple);
  grid-area: of3;
  background-image: url("../img/tractor.svg");
  background-position: 191px 50%;
  background-repeat: no-repeat;
}

.offers-list li:nth-child(4){
  background-color: var(--basic-light-green);
  grid-area: of4;
  background-image: url("../img/supermarket-basket.svg");
  background-position: 196px 50%;
  background-repeat: no-repeat;
}

.offers-list li:nth-child(5){
  background-color: var(--basic-yellow);
  grid-area: of5;
  background-image: url("../img/truck.svg");
  background-position: 191px 50%;
  background-repeat: no-repeat;
}

.offers{
  font-family: "Cuprum", Arial, sans-serif;
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  color: var(--basic-white);
}

.offers-item{
  min-height: 123px;
  padding: 21px 141px 21px 22px;
  max-width: 300px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}

.offers-item a{
  font-size: 14px;
  line-height: 18px;
  font-weight: normal;
  text-transform: uppercase;
  color: var(--basic-white);
  background-color: var(--basic-more-transparent-white);
  text-align: center;
  width: 135px;
  padding: 10px;
  box-sizing: border-box;
}

.offers-item a:hover,
.offers-item a:focus{
  background-color: var(--basic-transparent-gray);
}

.offers-item a:active{
  background-color: var(--basic-transparent-dark-gray);
}

.offers-icon{
  fill: var(--basic-white);
}

.new-shield:after{
  content: url("../img/new.svg");
  width: 70px;
  height: 70px;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 100;
}

.slider{
  font-weight: bold;
  font-size: 36px;
  line-height: 36px;
  background-color: var(--basic-dark);
  /*background-image: url("../img/slider-background-2");*/
  background-image: url("../img/slider-background.jpg");
  background-size: auto 100%, cover;
  background-repeat: no-repeat;
  background-position: top;
  grid-area: s;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}

.slider img{
  grid-row: 1/-1;
  z-index: 1;
}

.slider p{
  font-size: 18px;
  line-height: 24px;
  padding-top: 5px;
  font-weight: normal;
}

.slider b{
  text-transform: uppercase;
}

.slider-top{
  background-color: var(--basic-transparented-black);
  padding: 23px 24px 18px 24px;
}

.slider-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 20px 5px 24px;
}

.slider .button-container{
  padding: 24px 24px 27px 24px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.button-container a{
  min-width: 192px;
  padding: 11px 10px 9px 10px;
  margin-right: 74px;
  flex-shrink: 0;
  text-align: center;
  box-sizing: border-box;
}

.slider-drill{
  display: none;
}

.slider-2{
  display: none;
}

.slider-icon{
  fill: var(--basic-white);
}

.slider-button{
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 0;
  width: 22px;
  height: 40px;
}

.slider-right{
  transform: rotate(180deg);
}

.slider-number{
  width: 10px;
  height: 10px;
  border-radius: 50%;
  outline: none;
  border: none;
  cursor: pointer;
  padding: 0;
  background-color: var(--basic-white);
  margin: 5px 5px;
}

.slider-number-active{
  background-image: url("../img/slider-buttom-active.svg");
  background-position: center;
  background-repeat: no-repeat;
}

.slider-button-number-container{
  display: flex;
  margin-top: 10px;
  justify-content: flex-start;
  flex-wrap: wrap;
}


.main-title{
  background-color: var(--basic-extra-light);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 14px 15px 28px;
  box-sizing: border-box;
  min-height: 89px;
  width: 940px;
  margin: 0 auto 20px auto;
}

.main-title h2{
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--basic-dark);
  font-weight: normal;
}

.main-title .button{
  padding: 11px 10px 9px;
  min-width: 192px;
  box-sizing: border-box;
  text-align: center;
  margin-left: 30px;
}

.goods-container{
  display: grid;
  width: 940px;
  margin: 4px auto 70px auto;
  grid-template-columns: repeat(4, 220px);
  gap: 20px;
  position: relative;
}

.goods .main-title{
  grid-column: 1/-1;
}

.goods-item{
  font-weight: bold;
  font-size: 17px;
  line-height: 18px;
  text-align: center;
  padding: 6px 18px 19px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border: var(--basic-special-gray) 1px solid;
  max-width: 220px;
  box-sizing: border-box;
  position: relative;
}

.goods-img-container{
  height: 164px;
  width: 182px;
  display: flex;
  justify-content: center;
  align-items: center;
  order: -1;
  margin-bottom: 8px;
}

.goods-item h3{
  font-weight: bold;
  font-size: 18px;
  line-height: 20px;
  margin-bottom: auto;
}

.goods-item del{
  color: var(--basic-gray);
  margin: 8px 0 15px;
}

.red-button-container{
  vertical-align: middle;
  background-image: url("../img/red-button.svg");
  background-position: center;
  background-size: 141px auto, cover;
  background-repeat: no-repeat;
  width: 141px;
  min-height: 38px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
}

.red-button{
  color: var(--basic-white);
  background-color: var(--basic-red);
  max-width: 100px;
  margin-right: 4px;
  margin-bottom: 4px;
}

.goods-item:hover{
  box-shadow: 0 4px 20px var(--basic-shadow);
}

.buy-hidden{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 164px;
  width: 182px;
  background-color: var(--basic-white);
  padding: 31px 25px 10px 22px;
  box-sizing: border-box;
  margin-bottom: 8px;
  flex-wrap: wrap;
  order: -1;
  position: absolute;
  opacity: 0;
}

.goods-item:hover .buy-hidden{
  opacity: 1;
}

.button-buy{
  background-color: var(--basic-green);
  padding: 7px 15px 7px 6px;
  box-shadow: inset 0 -3px 0 var(--basic-botton-green);
  border-radius: 2px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 38px;
  box-sizing: border-box;
  z-index: 101;
}

.button-buy::before{
  content: "";
  width: 15px;
  height: 15px;
  background-image: url("../img/icon-cart.svg");
  background-repeat: no-repeat;
  padding-right: 8px;
  padding-bottom: 2px;
}

.button-in-bookmarks{
  color: var(--basic-black);
  background-color: var(--basic-white);
  padding: 8px 6px 6px;
  border: 3px solid var(--basic-botton-green);
  box-sizing: border-box;
  border-radius: 2px;
  outline: none;
  cursor: pointer;
}

.button-buy:hover,
.button-buy:focus{
  background-color: var(--basic-special-green);
}

.button-buy:active{
  background-color: var(--basic-special-button-green);
}

.button-in-bookmarks:hover,
.button-in-bookmarks:focus{
  background-color: var(--basic-white);
  border-color: var(--basic-dark);
}

.button-in-bookmarks:active{
  border-color: var(--basic-button-transparent-dark);
}

.manufacturers-logos{
  display: grid;
  width: 940px;
  margin: 0 auto 70px auto;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.manufacturers-logos .main-title{
  grid-column: 1/-1;
}

.manufacturers-logos a{
  border: var(--basic-special-gray) 1px solid;
}

.logo:hover,
.logo:focus{
  box-shadow: 0 4px 20px var(--basic-shadow);
}

.logo{
  height: 145px;
  padding: 5px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo:active{
  box-shadow: 0 4px 20px var(--basic-shadow);
  opacity: 0.5;
}

.logo:active img{
  box-shadow: 0 4px 4px var(--basic-img-shadow);
}

/*Services*/

.services{
  background-color: var(--basic-background);
}

.services-container{
  display: grid;
  width: 940px;
  margin: 0 auto;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}

.services-info{
  grid-column: 1/-1;
  margin-bottom: 50px;
  margin-top: 66px;
  margin-right: 540px;
}

.services-info h2{
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  margin-bottom: 25px;
  color: var(--basic-black);
  font-weight: normal;
}

.services-buttons{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-right: 60px;
  margin-bottom: auto;
  position: relative;
}

.services-buttons:after{
  content: url("../img/shade .png");
  width: 10px;
  height: 279px;
  position: absolute;
  right: 60px;
  top: -47px;
}

.services-item{
  grid-column: 2/-1;
  grid-row: 2/3;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.delivery img{
  margin-top: 20px;
}

.delivery .services-text{
  margin-right: 30px;
}

.guarantee{
 opacity: 0;
}

.credit{
  opacity: 0;
}

.guarantee .services-text{
  grid-column: 1/-1;
  margin-right: 305px;
}

.credit .services-text{
  margin-right: 20px;
}

.credit-button{
  display: inline-block;
  margin-top: 27px;
  min-width: 195px;
  text-align: center;
  padding: 10px 10px;
  box-sizing: border-box;
}

.services-text{
  grid-column: 1/2;
  grid-row: 1/2;
  z-index: 2;
}

.img-services{
  grid-column: 1/-1;
  grid-row: 1/-1;
  z-index: 1;
  justify-self: right;
}

.services h3{
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  font-weight: normal;
  color: var(--basic-dark);
  margin-bottom: 28px;
}

.services-button{
  font-family: "Cuprum", Arial, sans-serif;
  font-weight: bold;
  font-size: 21px;
  line-height: 30px;
  text-align: start;
  color: var(--basic-white);
  background-color: var(--basic-dark);
  min-height: 62px;
  padding: 14px 22px 17px;
  box-sizing: border-box;
  border: none;
  outline: none;
  box-shadow: 0 1px 0 var(--basic-extra-dark),
  inset 0 1px 0 var(--basic-services-button-dark);
}

.services-button-active{
  color: var(--basic-dark);
  background-color: var(--basic-white);
}

.services-button:not(.services-button-active):hover,
.services-button:not(.services-button-active):focus{
  background-color: var(--basic-extra-dark);
}

.services-button:not(.services-button-active):active{
  color: var(--basic-dark);
  background-color: var(--basic-white);
}

/*Инфо*/

.main-info-contacts-container{
  display: grid;
  width: 940px;
  margin: 72px auto 70px auto;
  grid-template-columns: 1fr 300px;
  gap: 20px;
  position: relative;
}

.info{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding-right: 160px;
}

.company-name{
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  padding-bottom: 22px;
}

.info-first-paragraph{
  padding-bottom: 27px;
}

.transportation-list{
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  padding-bottom: 7px;
  padding-top: 2px;
}

.transportation-item{
  padding-bottom:12px;
}

.transportation-item::before{
  content: "";
  width: 25px;
  height: 2px;
  display: inline-block;
  vertical-align: middle;
  background-color: var(--basic-red);
  margin-right: 6px;
}

.info-button{
  padding: 11px 10px 9px;
  min-width: 220px;
  text-align: center;
  box-sizing: border-box;
}

.contacts{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.contacts h2{
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 30px;
  line-height: 30px;
  padding-bottom: 22px;
  font-weight: normal;
}

.contacts p{
  padding-bottom: 32px;
}

.map-link{
  margin-bottom: auto;
}

.contacts-button{
  padding: 11px 10px 9px;
  min-width: 300px;
  text-align: center;
  box-sizing: border-box;
}

/*Footer*/

.page-footer{
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  color: var(--basic-white);
  background-color: var(--basic-dark);
  display: grid;
  grid-template-rows: min-content min-content;
}

.main-footer-function{
  display: grid;
  width: 940px;
  margin: 0 auto 56px;
  grid-template-columns: 380px 1fr;
}

.footer-logo{
  height: 68px;
  margin-bottom: 22px;
  border-bottom: 5px solid var(--basic-logo-red);
  box-sizing: border-box;
}

.footer-site-nav{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-top: 31px;
  padding-bottom: 23px;
}

.footer-site-nav li{
  padding: 6px 0 6px 12px;
}

.footer-local-address{
  padding-right: 50px;
}

.footer-offers-nav{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer-offers-nav li{
  padding: 6px 0 6px 35px;
}

.footer-contacts{
  font-size: 16px;
  line-height: 18px;
  background-color: var(--basic-extra-dark);
}

.footer-contacts-container{
  display: grid;
  width: 940px;
  margin: 34px auto 16px;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.footer-address{
  display: flex;
  justify-content: space-between;
}

.footer-site-nav a{
  color: var(--basic-white);
}

.footer-offers-nav a,
.footer-address a{
  color: var(--special-yellow);
}

.footer-social{
  text-align: center;
  padding-right: 31px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: -4px;
}

.footer-address p{
  padding-right: 14px;
  flex-grow: 0;
  display: flex;
  flex-direction: column;
}

.social-img{
  border-radius: 50%;
  background-color: var(--special-dark);
  width: 42px;
  height: 42px;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2px;
}

.social-icon{
  fill: var(--basic-white);
}

.footer-site-nav a:hover,
.footer-offers-nav a:hover,
.footer-address a:hover,
.footer-site-nav a:focus,
.footer-offers-nav a:focus,
.footer-address a:focus{
  text-decoration-line: underline;
}

.footer-site-nav a:active{
  color: var(--basic-transparent-white);
  text-decoration-line: none;
}

.footer-offers-nav a:active{
  color: var(--special-transparent-yellow);
  text-decoration-line: none;
}

.social-img:hover,
.social-img:active{
  background-color: var(--basic-red);
}

.footer-address a:active{
  color: var(--basic-red);
  text-decoration-line: none;
}

/*Catalog*/
/*Catalog-header*/

.container-lk-on{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.user-name{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--basic-white);
  width: 100%;
  margin-bottom: 4px;
}

.user-name-link{
  font-size: 21px;
  line-height: 21px;
  color: var(--basic-black);
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 12px 0;
  margin-left: 15px;
}

.user-name-link:active{
  color: var(--basic-dull-gray);
}

.icon-user{
  fill: var(--basic-dull-gray);
}

.icon-lk{
  vertical-align: center;
  padding-right: 21px;
  flex-shrink: 0;
}

.login-link-exit{
  height: 17px;
  margin-right: 17px;
  margin-left: 10px;
}

.user-name-link:hover .icon-user,
.user-name-link:focus .icon-user{
  fill: var(--basic-icon-dark);
}

.user-name-link:active .icon-user{
  fill: var(--basic-dull-gray);
}

.login-link-exit:hover .icon-login-exit,
.login-link-exit:focus .icon-login-exit{
  fill: var(--basic-icon-dark);
}

.login-link-exit:active .icon-login-exit{
  fill: var(--basic-dull-gray);
}

.lk-user-header a{
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-dark);
}

.lk-user-link:hover,
.lk-user-link:focus{
  color: var(--basic-red);
}

.lk-user-link:active{
  color: var(--basic-dull-gray);
}

.lk-user-header a:not(:first-child):before{
  content: "";
  width: 4px;
  height: 4px;
  border-radius: 50%;
  display: inline-block;
  vertical-align: middle;
  background-color: var(--basic-dark);
  background-repeat: no-repeat;
  margin: 0 14px 1px 10px;
}

/*Main catalog*/

.center-catalog-container{
  width: 940px;
  margin: 0 auto;
}

.breadcrumbs {
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}

.breadcrumbs-item,
.icon-home-link{
  margin-right: 15px;
  display: flex;
  align-items: center;
}

.breadcrumbs-item:before{
  content: "";
  width: 8px;
  height: 12px;
  background-image: url("../img/icon-right-small.svg");
  background-repeat: no-repeat;
  padding-right: 18px;
  vertical-align: middle;
}

.breadcrumbs .breadcrumbs-item{
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--basic-black);
}

.icon-home-link .icon-home{
  fill: var(--basic-icon-gray);
}

.breadcrumbs-item:hover,
.breadcrumbs-item:focus{
  color: var(--basic-red);
}

.breadcrumbs-item:active{
  color: var(--basic-transparented-black);
}

.icon-home-link:hover .icon-home,
.icon-home-link:focus .icon-home{
  fill: var(--basic-red);
}

.icon-home-link:active .icon-home{
  fill: var(--basic-transparented-black);
}

.choice{
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--basic-dark);
  background-color: var(--basic-background);
  padding: 30px 29px;
  font-weight: normal;
}

.filter-goods-container{
  display: grid;
  grid-template-columns: 220px 1fr;
  gap: 20px;
  margin-top: 20px;
  position: relative;
}

.filter-title h3,
.sorting h3{
  font-size: 13px;
  line-height: 18px;
  font-weight: normal;
  text-transform: uppercase;
}

.filter fieldset{
  margin-inline-start: 0;
  margin-inline-end: 0;
  padding-block-start: 0;
  padding-inline-start: 0;
  padding-inline-end: 0;
  padding-block-end: 0;
  border: none;
}

.filter-title{
  margin-bottom: 13px;
}

.filter-title{
  padding: 10px 18px;
}

.filter-title,
.sorting,
.price input{
  background-color: var(--basic-filter-gray);
  border: none;
  border-radius: 3px;
}

.filter legend{
  font-weight: bold;
  font-size: 17px;
  line-height: 30px;
  align-items: center;
  text-transform: uppercase;
}

.filter label{
  font-size: 15px;
  line-height: 19px;
  text-transform: uppercase;
  cursor: pointer;
}

.price{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.price-range-input{
  display: flex;
  justify-content: space-between;
  background-image: url("../img/dah.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.price input{
  font-size: 17px;
  line-height: 18px;
  text-transform: uppercase;
  cursor: pointer;
  outline: none;
}

.range{
  background-color: var(--basic-filter-gray);
  width: 220px;
  height: 80px;
  padding: 20px;
  box-sizing: border-box;
  margin: 11px 0 9px;
  display: flex;
  align-items: center;
}

.range input{
  width: 180px;
  border-radius: 0;
  -webkit-appearance: none;
}

.range-input{
  width: 100%;
}

.price-input{
  height: 38px;
  width: 95px;
  text-align: center;
  box-sizing: border-box;
}

.filter-manufacturers legend{
  margin-bottom: 17px;
}

.filter-border{
  border-top: var(--basic-special-gray) 1px solid;
  margin-top: 25px;
  padding-top: 17px;
}

.check{
  padding-left: 35px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}

.box:last-child{
  margin-bottom: 0;
}

.filter-supply legend{
  margin-bottom: 23px;
}

.radio{
  margin-bottom: 22px;
}

.filter button{
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  background-color: var(--basic-white);
  border: var(--basic-special-light-gray) 1px solid;
  width: 100%;
  text-align: center;
  padding: 9px;
  cursor: pointer;
  margin-bottom: 10px;
  margin-top: 18px;
}

/*Чекбоксы*/

.check-input,
.radio-input{
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
}

.check-box{
  position: absolute;
  margin-left: -35px;
  fill: var(--basic-dull-gray);
}

.check-box-on{
  fill: transparent;
}

.check-input:checked~.check-box-on{
  fill: var(--basic-dull-gray);
}

.check-input:checked+.check-box-off{
  fill: transparent;
}

.option:hover .check-input~.check-box-off,
.check-input:focus~.check-box-off{
  fill: var(--basic-option-gray);
}

.option:hover .check-input:checked~.check-box-off,
.check-input:checked:focus~.check-box-off{
  fill: transparent;
}

.option:hover .check-input:checked~.check-box-on,
.check-input:checked:focus~.check-box-on{
  fill: var(--basic-option-gray);
}

.check-input:checked:disabled~.check-box-on,
.check-input:disabled~.check-box-off{
  fill: var(--basic-transparent-option-gray);
}

.check-input:checked:disabled~.check-box-off{
  fill: transparent;
}

.check-input:checked:disabled:focus~.check-box-on,
.check-input:checked:disabled:hover~.check-box-on{
  fill: var(--basic-transparent-option-gray);
}

.check-input:checked:disabled:focus~.check-box-off,
.check-input:checked:disabled:hover~.check-box-off{
  fill: transparent;
}

.filter .filter-disabled{
  color: var(--basic-transparent-option-gray);
  cursor: default;
}

.check-input:disabled:focus~.check-box-off,
.check-input:disabled:hover~.check-box-off{
  fill: var(--basic-transparent-option-gray);
}

/*Радиокнопки*/

.radio-box{
  position: absolute;
  margin-left: -35px;
  fill: var(--basic-dull-gray);
}

.radio-on{
  fill: transparent;
}

.radio-input:checked~.radio-on{
  fill: var(--basic-dull-gray);
}

.option:hover .radio-input~.radio-off,
.radio-input:focus~.radio-off,
.option:hover .radio-input:checked~.radio-on,
.radio-input:checked:focus~.radio-on{
  fill: var(--basic-option-gray);
}

.radio-input:checked:disabled~.radio-box,
.radio-input:disabled~.radio-off{
  fill: var(--basic-transparent-option-gray);
}

.radio-input:hover:checked:disabled~.radio-box,
.radio-input:hover:disabled~.radio-off,
.radio-input:focus:checked:disabled~.radio-box,
.radio-input:focus:disabled~.radio-off{
  fill: var(--basic-transparent-option-gray);
}

/*Сортировка, Товары, Пагинация, Информация*/

.goods-catalog{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 18px 20px;
}

.sorting{
  grid-column: 1/-1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 17px 10px 19px;
  margin-bottom: 9px;
}

.sorting h3{
  width: 175px;
  margin-right: 45px;
  flex-shrink: 0;
}

.sorting-item-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  flex-grow: 1;
}

.sorting-container{
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-shrink: 0;
  width: 43px;
  height: 10px;
}

.icon-sorting{
  fill: var(--basic-dull-gray);
}

.icon-sorting-down{
  transform: rotate(180deg);
}

.icon-sorting:hover:not(.icon-sorting-active),
.icon-sorting:focus:not(.icon-sorting-active){
  fill: var(--basic-black);
}

.icon-sorting-active{
  fill: var(--basic-red);
}

.sorting-item{
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--basic-transparent-black);
  text-decoration: underline;
  text-decoration-style: dotted;
  text-decoration-color: var(--basic-red);
  margin-right: 45px;
}

.sorting .sorting-item-active{
  color: var(--basic-red);
  text-decoration:none;
}

.sorting .sorting-item:hover:not(.sorting-item-active),
.sorting .sorting-item:focus:not(.sorting-item-active){
  color: var(--basic-black);
  text-decoration-style: solid;
}

.sorting .sorting-item:active:not(.sorting-item-active){
  color: var(--basic-red);
  text-decoration-style: solid;
}

.paginatinon {
  grid-column: 1/-1;
  margin: 25px -5px 54px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}

.paginatinon a{
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--basic-black);
  border: var(--basic-special-light-gray) 1px solid;
  border-radius: 2px;
  margin: 5px 5px;
}

.paginatinon-number{
  padding: 9px 14px;
}

.paginatinon-next{
  padding: 9px 30px;
}

.paginatinon .paginatinon-number-active{
  color: var(--basic-white);
  background-color: var(--basic-red);
  border-color: var(--basic-red);
}

.paginatinon a:hover:not(.paginatinon-number-active),
.paginatinon a:focus:not(.paginatinon-number-active){
  border-color: var(--basic-dull-gray);
}

.paginatinon a:active:not(.paginatinon-number-active){
  border-color: var(--basic-red);
}

.puncher-info{
  background-color: var(--basic-background);
}

.puncher-info-container{
  width: 940px;
  margin: 0 auto;
  padding: 64px 0 70px;
}

.puncher-info h2{
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  margin-bottom: 25px;
  font-weight: normal;
}

.puncher-info p{
  padding-right: 30px;
}

/*Модальные окна*/

.modal{
  visibility: hidden;
}

.modal-close{
  width: 21px;
  height: 21px;
  border: none;
  outline: none;
  cursor: pointer;
  box-sizing: border-box;
  background-color: transparent;
  background-image: url("../img/icon-close.svg");
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  right: 11px;
  top: 11px;
}

.modal-close:active{
  background-image: url("../img/icon-close-active.svg");
}

/*Форма*/
.modal-contacts {
  font-family: "Cuprum", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  color: var(--basic-black);
  position: absolute;
  top: -59px;
  left: 152px;
  width: 620px;
  min-height: 430px;
  background-color: var(--basic-white);
  box-sizing: border-box;
  border-top: 7px solid var(--basic-modal-red);
  filter: drop-shadow(0px 4px 20px var( --basic-shadow));
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.modal-contacts-form{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 100%;
  padding-top: 39px;
  position: relative;
}

.modal-contacts-form label{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.modal-contacts-form-container{
  display: flex;
  justify-content: space-between;
  margin: 0 80px 15px;
  flex-wrap: wrap;
}

.modal-contacts-form-container input,
.modal-contacts-form textarea{
  border: 2px solid var(--basic-dull-gray);
  border-radius: 2px;
  padding-left: 11px;
  box-sizing: border-box;
  font-family: "PT Sans", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 24px;
  margin-top: 10px;
}

.modal-contacts-form-container input{
  width: 220px;
  height: 38px;
}

.modal-contacts-comment{
  margin: 0 80px;
}
.modal-contacts-form textarea{
  resize: none;
  width: 460px;
  height: 114px;
}

.modal-contacts-submit-container{
  background-color: var(--basic-modal-gray);
  text-align: center;
  margin-top: auto;
  padding: 0 80px;
}

.modal-contacts-submit{
  border: none;
  box-sizing: border-box;
  padding: 10px;
  outline: none;
  align-items: center;
  margin:37px 0;
  min-width: 460px;
  cursor: pointer;
}

/*Карта*/

.modal-map{
  width: 940px;
  height: 449px;
  position: absolute;
  top: -56px;
  left: 0;
  background-color: var(--basic-white);
  box-sizing: border-box;
  border-top: 7px solid var(--basic-red);
  filter: drop-shadow(0px 4px 20px var( --basic-shadow));
}

.modal-map-container{
  width: 940px;
  height: 442px;
  position: relative;
  background: url("../img/big-map.jpg") 100% 100% no-repeat;
}

/*Добавлен в корзину*/

.modal-added-to-cart{
  width: 620px;
  min-height: 282px;
  position: absolute;
  top: 166px;
  left: 177px;
  z-index: 101;
  background-color: var(--basic-white);
  box-sizing: border-box;
  border-top: 7px solid var(--basic-red);
  filter: drop-shadow(0px 4px 20px var( --basic-shadow));
}

.index-modal-added-to-cart{
  top: 18px;
  left: 160px;
}

.added-to-cart-container{
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-height: 275px;
  padding-top: 66px;
  box-sizing: border-box;
}

.added-to-cart-container p{
  font-family: "Cuprum", Arial, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  text-align: center;
  margin-bottom: 20px;
  padding: 0 170px;
}

.added-to-cart-container p:before{
  content: url("../img/icon-mark.svg");
  position: absolute;
  top: 48px;
  left: 80px;
}

.added-to-cart-buttons{
  background-color: var(--basic-modal-gray);
  text-align: center;
  margin-top: auto;
  padding: 37px 113px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.added-to-cart-buttons a,
.added-to-cart-buttons button{
  padding: 10px;
  min-width: 192px;
  box-sizing: border-box;
}

.added-to-cart-buttons button{
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: var(--basic-black);
  background-color: var(--basic-white);
  text-transform: uppercase;
  border: none;
  outline: none;
  cursor: pointer;
  box-sizing: border-box;
}

.added-to-cart-buttons button:focus,
.added-to-cart-buttons button:hover{
  background-color: var(--basic-special-light-gray);
}

.added-to-cart-buttons button:active{
  background-color: var(--basic-dull-gray);
}
